<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marmiplon - <%= title %></title>
    <meta name="description" content="Marmiplon - Votre application de recettes de cuisine. Découvrez des entrées, plats principaux et desserts délicieux.">
    
    <link rel="stylesheet" href="/style.css">
</head>