<%- include('../partials/head', {title:'404 NOT FOUND'}) %>
<%- include('../partials/header') %>

<main>
    <h1 class="error_title">Oooops 404 error</h1>
</main>

<%- include('../partials/footer') %>